* {
    color: #40514e;
    margin-bottom: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    color: #916dd5;
    margin: 50px auto 0 auto;
    font-size: 8rem;
    font-family: 'Sacramento', cursive;
    margin: 0;
}

h2 {
    font-weight: normal;
    color: #916dd5;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #916dd5;
}

a {
    color: #916dd5;
}

.skill-row {
    line-height: 2;
    text-align: left;
    margin: 100px auto;
    width: 50%;
}

.design {
    margin-right: 40px;
    float: left;
    width: 25%;
}

.develop {
    float: right;
    margin-left: 40px;
    width: 25%;
}

.top-container {
    padding-top: 200px;
    position: relative;
    background-color: #f0e3ff;
}

.top-cloud {
    right: 700px;
    top: 100px;
    position: absolute;
}

.bottom-cloud {
    bottom: 300px;
    left: 600px;
    position: absolute;
}

.profile-image {
    margin-top: 100px;
    width: 15%;
}

.profile-description {
    line-height: 2;
    text-align: center;
}

.profile {
    margin-bottom: 50px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 5%;
    margin-bottom: 50px;
    text-align: center;
    border-color: rgb(134, 134, 134);
}

.contact-me {
    padding-top: 50px;
}

.contact-me p {
    margin-bottom: 50px;
}

.btn {
    padding: 10px 10px;
    color: #eaf6f6;
    text-decoration: none;
    background-color: #916dd5;
    border-radius: 5px;
}

.bottom-container {
    background-color: #916dd5;
    margin-top: 50px;
    padding-top: 50px;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #3e206d;
    margin: 30px;
}

a :hover {
    color: #eaf6f6;
}

.bottom-container p {
    margin-top: 50px;
    font-size: 0.75em;
    color: #eaf6f6;
    padding-bottom: 25px;
}